:root{
    cinza:#aaa
    vermelha #e93d50
    vermelha-escura #af303f
    branca #fff
    luz #ff5c77
}
body{
    align-items: center;
    background: linear-gradient(45deg, #ff5c77 0%,#00b7c1 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}
h1 